<div>
    <h2>More About Me...</h2>
    <mat-card>
        <ul>
            <li>I love to travel <mat-icon fontIcon ="explore"/>, have recently been to NYC - the city that always excites and Nigara - Ah! What a beauty!!</li>
            <li>Believe in Karma <mat-icon fontIcon ="self_improvement"></mat-icon></li>
            <li>Binge watching <mat-icon fontIcon ="movie"></mat-icon>,listening to music<mat-icon fontIcon ="music_note"></mat-icon>, reading books <mat-icon fontIcon ="auto_stories"></mat-icon> are my favorite pass time.</li>
            <li>I believe in giving back to the society. Donating blood is my small contribution towards it.</li>
        </ul>
    </mat-card>
</div>