<div class="work-experience-section">
  <h2>Work Experience</h2>
  <div class="timeline">
    <div class="timeline-entry" *ngFor="let company of workExperience; let i = index">
      <div class="timeline-marker"></div>
      <div class="timeline-content" [ngClass]="{ 'left': i % 2 === 0, 'right': i % 2 !== 0 }">
        <div class="company-header">
          <h3>{{ company.company }}</h3>
          <div class="timeline-date">
            <span>{{ company.timeSpan }}</span>
          </div>
        </div>
        <div class="role" *ngFor="let role of company.roles">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ role.title }}</mat-card-title>
              <mat-card-subtitle>{{ role.subtitle }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <ul>
                <li *ngFor="let point of role.content">{{ point }}</li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>