<div>
    <h2>Projects</h2>
</div>
<div class="projects">
    <mat-tab-group fitInkBarToContent>
        <mat-tab label = "1">
        <div class = "tab-cards">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>APEX Instruction Pipeline Simulator</mat-card-title>
                    <mat-card-subtitle>Computer Architecture</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/images/cao.png" alt="Out of order processor">
                <mat-card-content>
                    <ul>
                        <li>
                            Developed and simulated a 5 stage APEX Instruction Pipeline simulator using C whose design is similar correlates with the real on chip processor in-order peipeline. The design included all the arithmetic, logical operations and also handled branching instructions.
                        </li>
                        <li>
                            Extended the APEX pipeline into a out-of-order processor design which reduced pipeline latency therby increasing processor performance. It also included speculative execution.
                        </li>
                    </ul>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Spreadsheet developement</mat-card-title>
                    <mat-card-subtitle>Programming for the Web</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/images/view.png" alt="Out of order processor">
                <mat-card-content>
                    <ul>
                        <li>
                        Implemented complete Spreadsheet interface from scratch using <b>ReactJS, Mongo DB</b>  
                        </li>
                        <li>
                            Achieved data retrieval using web API service based architecture
                        </li>
                    </ul>
                </mat-card-content>
                
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Retail Business Management System</mat-card-title>
                    <mat-card-subtitle>Java JDBC, MySQL, PL/SQL</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/images/jdbc.jpeg" alt="Out of order processor">
                <mat-card-content>
                    <ul>
                        <li>
                        Developed a command - line menu imnterface based retail management system that performed various actions as per user input.
                        </li>
                        <li>
                            Incorporated various sql and pl/sql functionalities such as triggers, procedures, packages and sequenes to commit and perform various database transcations
                        </li>
                    </ul>
                </mat-card-content>
                
            </mat-card>
        </div>    
    </mat-tab>
        <mat-tab label = "2">
            <div class = "tab-cards">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>APEX Instruction Pipeline Simulator</mat-card-title>
                        <mat-card-subtitle>Computer Architecture</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/images/cao.png" alt="Out of order processor">
                    <mat-card-content>
                        <ul>
                            <li>
                                Developed and simulated a 5 stage APEX Instruction Pipeline simulator using C whose design is similar correlates with the real on chip processor in-order peipeline. The design included all the arithmetic, logical operations and also handled branching instructions.
                            </li>
                            <li>
                                Extended the APEX pipeline into a out-of-order processor design which reduced pipeline latency therby increasing processor performance. It also included speculative execution.
                            </li>
                        </ul>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Spreadsheet developement</mat-card-title>
                        <mat-card-subtitle>Programming for the Web</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/images/view.png" alt="Out of order processor">
                    <mat-card-content>
                        <ul>
                            <li>
                            Implemented complete Spreadsheet interface from scratch using <b>ReactJS, Mongo DB</b>  
                            </li>
                            <li>
                                Achieved data retrieval using web API service based architecture
                            </li>
                        </ul>
                    </mat-card-content>
                    
                </mat-card>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Retail Business Management System</mat-card-title>
                        <mat-card-subtitle>Java JDBC, MySQL, PL/SQL</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/images/jdbc.jpeg" alt="Out of order processor">
                    <mat-card-content>
                        <ul>
                            <li>
                            Developed a command - line menu imnterface based retail management system that performed various actions as per user input.
                            </li>
                            <li>
                                Incorporated various sql and pl/sql functionalities such as triggers, procedures, packages and sequenes to commit and perform various database transcations
                            </li>
                        </ul>
                    </mat-card-content>
                    
                </mat-card>
            </div>    
            </mat-tab>
    </mat-tab-group>
</div>
