<div>
    <h2>Resume</h2>
</div>
<div>
    <mat-expansion-panel [expanded] = "true">
        <mat-expansion-panel-header>
            <mat-panel-title>View Resume</mat-panel-title>
        </mat-expansion-panel-header>
        <div class = "resume">
            <object type="application/pdf"
                data="assets/Resume.pdf"  
                width="500" 
                height="700">
            </object>
        </div>
        <!-- <a href="assets/Vinay_Upadhyayula_Resume.pdf" target="_blank">Resume</a> -->
    </mat-expansion-panel>
</div>
