<div>
    <h2>Education</h2>
<mat-card>
    <div class = "parent">
        <div class= "child">
            <img class ="binglogo" src = "assets/images/BearcatCircleSticker.webp">
            <ul>
                <li>State University of New York(SUNY) at Binghamton</li>
                <li>GPA: 3.87/4.00</li>
                <br>
                <span>Binghamton, New York, USA</span>
                <br>
                <p>Master of Science(MS) in Computer Science | Jan 2023 - December 2024</p>
            </ul>
        </div>
        <div class= "child">
            <img class ="grietlogo" src = "assets/images/griet.webp">
            <ul>
                <li>Gokaraju Rangaraju Institute of Engineering and Technology</li>
                <li>GPA: 3.56/4.00</li>
                <br>
                <span>Hyderabad, Telangana, India</span>
                <br>
                <p>Bachelor of Engineering(B.E) in Electronics and Communications Engineering | 2016 - 2020</p>
            </ul>
        </div>
    </div>
</mat-card>
</div>
