.parent
{
    display: flex;
    justify-content: space-evenly;
}
.child
{
    display: inline;
}
.binglogo
{
    //border-radius: 50%;
    height: 140px;
    width: 140px;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    //border: 15px solid transparent;
    //z-index: 9999;
}
.grietlogo
{
    //border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 0;
    margin: 0;
    //border: 15px solid transparent;
    //z-index: 9999;
}