<div class="about-section">
<mat-card>
    <h2>About</h2>
    <p>I am an experienced software developer and currenlty pursuing my Masters 
        at State University of New York at Binghamton majoring in Computer Science. My area of interests
    are Machine Learning and full stack web development.</p>
    <h2>Objective</h2>
    <span>To obtain a challenging position in a high-performance environment where I can enhance my skills and add value to the organization.</span>
    <br>
    <p>I am currently looking for full-time Job opportunities in the relevant area of interests.</p>
</mat-card>
</div>
