<div class="about-section">
<mat-card>
    <h2>About</h2>
    <div id = "tw"></div>
    <p>Experienced software developer, currently pursuing my Masters 
        at State University of New York at Binghamton majoring in Computer Science. My area of interests
    are Machine Learning and Full stack web development.</p>
    <h4>Objective</h4>
    <span>To obtain a challenging position in a high-performance environment where I can enhance my skills and add value to the organization.</span>
    <br>
    <i>I am currently looking for Job opportunities in the relevant area of interests.</i>
</mat-card>
</div>
