<div class="about-section">
<mat-card>
    <h2>About</h2>
    <div id = "tw"></div>
    <p>Experienced software developer, recently graduated from 
        Binghamton University with a Masters degree in Computer Science. My area of interests
    are Machine Learning, Full Stack web development and integrating LLMs to solve day to day problems.</p>
    <!-- <h4>Objective</h4>
    <span>To obtain a challenging position in a high-performance environment where I can enhance my skills and add value to the organization.</span>
    <br> -->
    <i>Driving Digital 4.0 Transformation in the USA manufacturing sector</i>
</mat-card>
</div>
