<div>
  <mat-toolbar>
    <ul class="side-by-side-list">
      <li>
        <a href="#">Vinay Upadhyayula</a>
      </li>
      <li>
        <a pageScroll class="nav-link smooth-scroll" href="#about">About</a>
      </li>
      <li>
        <a pageScroll class="nav-link smooth-scroll" href="#education">Education</a>
      </li>

      <li>
        <a pageScroll class="nav-link smooth-scroll" href="#work-exp">Work Experience</a>
      </li>

      <li >
        <a pageScroll class="nav-link smooth-scroll" href="#projects">Projects</a>
      </li>
      <li >
        <a pageScroll class="nav-link smooth-scroll" href="#skills">Skills</a>
      </li>

      <li>
        <a pageScroll class="nav-link smooth-scroll" href="#resume">Resume</a>
      </li>

      <li>
        <a pageScroll class="nav-link smooth-scroll" href="#contact">Contact</a>
      </li>
    </ul>
  </mat-toolbar>
  <div class="container">
    <div class="cc-profile-image">
      <a href="#">
        <img src="assets/image.jpeg" alt="Small Circle Image">
      </a>
      <h2 style="color:white">Venkata Sri Sai Surya Vinay Upadhyayula</h2>
    </div>
  </div>  
  <div class="profile-comp">
    <about id="about"></about>
  <education id="education"></education>
  <work-exp id="work-exp"></work-exp>
  <skills id = "skills"></skills>
  <projects id = "projects"></projects>
  </div>
  <router-outlet></router-outlet>
</div>