
mat-card
{
    box-shadow: inset;
    margin:5px;
    padding: 15px;
}
.skillsGrid{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 100px);
  }
  .font
  {
    font-family: palatino;
  }
  .skill
  {
    padding: 1.25rem;
    height: 100px;
  }