<h2>What I know</h2>
<div class = "skills">
    <mat-card>Front end
    <ul>
        <li>HTML/CSS</li>
        <li>Typescript</li>
        <li>Javascript</li>
        <li>Angular</li>
        <li>ReactJS</li>
    </ul>
    </mat-card>
    <mat-card>Backend
        <ul>
            <li>Java</li>
            <li>Spring Boot</li>
            <li>Spring Security, Cloud, MVC</li>
            <li>Node JS</li>
            <li>Express JS</li>
        </ul>
    </mat-card>
    <mat-card>Database
        <ul>
            <li>MySQL</li>
            <li>Elasticsearch</li>
            <li>MongoDB</li>
        </ul>
    </mat-card>
    <mat-card>Others
        <ul>
            <li>C/C++</li>
            <li>Python</li>
            <li>GIT</li>
            <li>Jenkins</li>
            <li>Pandas, Numpy</li>
        </ul>
    </mat-card>
</div>
